body 
{ 	
	font-size : 110%;
	line-height : 1.5;
	text-align : center;
	margin : 0;
	background-color : #dcedc1;
}
hr
{
	clear: left;
	border-style : none;
	border-top-style : dotted;
	background-color : #dcedc1;
	border-color : #d2c1ed;
	border-width : 14px;
	margin : 50px auto;
	width : 10%
}
img
{	
	border-radius : 50%;
	float : left;
	margin: 20px;
	width : 40%;
}
h1 
{ 
	font-size : 250%;
	color : #1d3434; 
	font-family : sans-serif;
}
h3 
{ 
	font-size : 150%;
	text-align : center;
	color: #63AFAE;
	font-family : sans-serif;
}
p
{
	margin : auto;
	width : 80%;
}

.profile-pic
{
	text-align : left;
	margin : 60px auto 150px auto;
	width : 50%;
}
.table1
{
	border-spacing : 7px;
	padding : 2px;
	line-height : 1.5;
	width : 50%;
	margin : 30px auto;
}
.table2
{	
	width : 30%;
	margin : 30px auto;
}
.header
{
	background-color : #065535;
	height : 20px;
	display : block;
}
.p1
{
	margin : 0;
}
.p2
{
	width : 70%;
	margin : 5px 0px 5px 30px;
}
.p3
{
}
.footer
{
	text-align : center;
	margin : 0;
	background-color : #065535;
	height : 60px;
	display : block;
}
.contact 
{
	margin : 30px;
}
.contact_address
{
	display : inline;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #096ead);
  background-image: -moz-linear-gradient(top, #3498db, #096ead);
  background-image: -ms-linear-gradient(top, #3498db, #096ead);
  background-image: -o-linear-gradient(top, #3498db, #096ead);
  background-image: linear-gradient(to bottom, #3498db, #096ead);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 21px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin : 200px auto;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}